; this is the default config file for vimdow. It's recommended that you add this
; to your .gitignore.

[neovim]

; remove this key/set it to false in order to use your config
template = false

; set this to the location of the nvim binary on your system
path_to_nvim = "/usr/bin/nvim"

[theme]
;font_size=16

; Set these keys for font files.
; They can be relative to the path of the config file
;normal = "./path/to/normal.ttf"
;bold = "../path/to/bold.ttf"
;italic = "/path/to/italic.ttf"
